{% set slider = [

{'page':[
{'title': 'Выберите светлое помещение.',

'sliders':[
{'text': 'Выберите хорошо освещённое помещение с естественным или искусственным светом.','src': {'src_smaller' :'1.png','src_smaller_retina' :'1.png','src_default' :'1.png', 'src_default_retina' :'1.png'}},
{'text': 'Проследите, чтобы на пол не попадал сильный поток света, который может помешать съёмке.','src': {'src_smaller' :'2.png','src_smaller_retina' :'2.png','src_default' :'2.png', 'src_default_retina' :'2.png'}},
{'text': '"Пересвеченные" фотографии - это результат слишком яркого прямого света.','src': {'src_smaller' :'3.png', 'src_smaller_retina' :'3.png', 'src_default' :'3.png', 'src_default_retina' :'3.png'}},
{'text': 'При нехватке освещения фотографии получатся нечёткими или с сильными тенями вокруг стопы.','src': {'src_smaller' :'4.png','src_smaller_retina' :'4.png', 'src_default' :'4.png','src_default_retina' :'4.png'}}
],

'hints': [
{'title':'','text': '1. Не фотографируйте непосредственно около или напротив окна. Солнце не должно «бить» в объектив телефона - переместитесь немного вглубь комнаты, если нужно слегка прикройте шторы/жалюзи/тюль.'},
{'title':'','text': '2. Не фотографируйте на полу в месте ярких солнечных бликов - переместитесь в сторону от этого места.'},
{'title':'','text': '3. При нехватке освещения фотографии получатся нечёткими или с сильными тенями вокруг стопы. Выберите более светлое время дня или используйте другую комнату / помещение.'}
]
},
{'title': 'Подготовьте место, чтобы удобно сесть.',

'sliders':[
{'text': 'Выберите стул или кресло так, чтобы посторонние предметы не попадали в кадр, пол должен быть без мягкого покрытия, не телесного цвета.','src': {'src_smaller' :'5.png','src_smaller_retina' :'5.png','src_default' :'5.png', 'src_default_retina' :'5.png'}},
{'text': 'Выберите ровный пол без коврового покрытия, иначе бумажный лист А4, который вы будете использовать, деформируется.','src': {'src_smaller' :'7.png','src_smaller_retina' :'7.png','src_default' :'7.png', 'src_default_retina' :'7.png'}}
],

'hints': [
{'title':'','text': '1. Высота стула должна быть такой, чтобы сев на него, вы могли расположить колени вертикально над пятками.'},
{'title':'','text': '2. Цвет пола должен отличаться от цвета ноги, иначе ступня на фотографии сольётся с полом.'}
]
},
{'title': 'Подготовьте несколько листов бумаги А4.',

'sliders':[
{'text': 'Вам понадобится 3-6 чистых листов офисной бумаги формата А4 (210 х 297 мм).','src': {'src_smaller' :'3-1.png', 'src_smaller_retina' :'3-1.png', 'src_default' :'3-1.png', 'src_default_retina' :'3-1.png'}},
{'text': 'Проследите, чтобы листы были новыми, углы листов не должны загибаться.','src': {'src_smaller' :'9.png', 'src_smaller_retina' :'9.png', 'src_default' :'9.png', 'src_default_retina' :'9.png'}}
],

'hints': [
{'title':'','text': '1. Листы бумаги  должны быть чистыми, ровными, без явных складок, углы листов не должны загибаться.'},
{'title':'','text': '2. В процессе фотографирования из-за влаги стопы листы бумаги могут деформироваться, отставать от пола или у них загибаются углы. Если так происходит, рекомендуем вам менять лист бумаги при переходе от фотографирования одной ноги к другой.'},
{'title':'','text': '3. Очень важно, чтобы все 4 угла листа ровно прилегали к полу.'}
]
}
]
},

{'page':[
{'title': 'Разуйтесь, снимите носки и закатайте брюки.',

'sliders':[
{'text': 'Закатайте, пожалуйста, брюки до колена, подберите свисающее платье или иную одежду с голени.','src': {'src_smaller' :'2-1.png', 'src_smaller_retina' :'2-1.png', 'src_default' :'2-1.png', 'src_default_retina' :'2-1.png'}},
{'text': 'Снимите с ног обувь, носки, чулки или колготки любого (в т.ч. телесного) цвета.','src': {'src_smaller' :'2-2.png','src_smaller_retina' :'2-2.png','src_default' :'2-2.png', 'src_default_retina' :'2-2.png'}},
{'text': 'Обратите внимание, чтобы какие-либо элементы одежды не закрывали стопу и пятку.','src': {'src_smaller' :'2-4a.png','src_smaller_retina' :'2-4a.png','src_default' :'2-4a.png', 'src_default_retina' :'2-4a.png'}},
{'text': 'Для женщин рекомендуем не использовать лак для ногтей контрастного цвета.','src': {'src_smaller' :'2-5.png', 'src_smaller_retina' :'2-5.png', 'src_default' :'2-5.png', 'src_default_retina' :'2-5.png'}}
],

'hints': [
{'title':'','text': 'В кадр должны обязательно попадать: все 4 угла бумажного листа, одна ступня и часть голени, пол. Не должно попасть: вторая нога, другие части тела, одежда, мебель, другие предметы.'}
]
},
{'title': 'Сядьте на стул и расположите ступню на листе А4.',

'sliders':[
{'text': 'Поставьте ступню так, чтобы примерно 2/3 были на листе, а пятка - на полу.','src': {'src_smaller' :'2-6.png', 'src_smaller_retina' :'2-6.png', 'src_default' :'2-6.png', 'src_default_retina' :'2-6.png'}},
{'text': 'Поставьте ступню так, чтобы примерно 2/3 были на листе, а пятка - на полу.','src': {'src_smaller' :'2-7.png', 'src_smaller_retina' :'2-7.png', 'src_default' :'2-7.png', 'src_default_retina' :'2-7.png'}},
{'text': 'Лист А4 должен располагаться широкой стороной перед вами, а пятка на полу.','src': {'src_smaller' :'2-10.png','src_smaller_retina' :'2-10.png','src_default' :'2-10.png', 'src_default_retina' :'2-10.png'}}
],

'hints': [
{'title':'','text': 'Поставив ногу один раз на лист, не передвигайте её во время всего цикла фотографирования. Если всё же такое произошло - начните всё заново.'}
]
},
{'title': 'Углы листа А4 ровно прилегают к полу.',

'sliders':[
{'text': 'Лист должен полностью прилегать углами к полу, углы не должны приподниматься.','src': {'src_smaller' :'2-12.png', 'src_smaller_retina' :'2-12.png', 'src_default' :'2-12.png', 'src_default_retina' :'2-12.png'}},
{'text': 'Если углы приподнимаются, можно их немного загнуть в противоположную сторону, либо перевернуть лист обратной стороной.','src': {'src_smaller' :'2-13.png', 'src_smaller_retina' :'2-13.png', 'src_default' :'2-13.png', 'src_default_retina' :'2-13.png'}},
{'text': 'Лист не должен идти волной, если так происходит, смените лист на новый.','src': {'src_smaller':'2-14.png', 'src_smaller_retina':'2-14.png', 'src_default':'2-14.png', 'src_default_retina' :'2-14.png'}}
],

'hints': [
{'title':'','text': '1. Листы бумаги должны быть чистыми, ровными, без явных складок, углы листов не должны загибаться.'},
{'title':'','text': '2. Из-за влаги стопы листы бумаги могут деформироваться, отставать от пола или у них загибаются углы. Если так происходит, рекомендуем вам менять лист бумаги при переходе от фотографирования одной ноги к другой.'},
{'title':'','text': '3. Очень важно, чтобы все 4 угла листа ровно прилегали к полу.'}
]
},

{'title': 'Соберите/сомкните рукой пальцы ноги вместе.',

'sliders':[
{'text': 'Слегка соберите/сомкните рукой пальцы ноги вместе, чтобы расстояние между пальцами было минимальным.','src': {'src_smaller' :'2-15.png','src_smaller_retina' :'2-15.png','src_default' :'2-15.png', 'src_default_retina' :'2-15.png'}},
{'text': 'Неправильно: Пальцы разведены очень широко.','src': {'src_smaller' :'2-17.png','src_smaller_retina' :'2-17.png','src_default' :'2-17.png', 'src_default_retina' :'2-17.png'}},
{'text': 'Обратите внимание, что при этом пальцы ноги не должны поджиматься по длине - это может исказить длину вашей ноги.','src': {'src_smaller' :'2-18.png', 'src_smaller_retina' :'2-18.png', 'src_default' :'2-18.png', 'src_default_retina' :'2-18.png'}}
],

'hints': [
{'title':'','text': '1. Чтобы собрать/сомкнуть пальцы ноги вместе, лучше помочь рукой/руками.'},
{'title':'','text': '2. Не прикладывайте особо больших усилий- расстояние между пальцами должно быть минимальным, но при этом положение пальцев должно оставаться естественным.'},
{'title':'','text': '3. Стопа должна полностью опираться на пол и при этом быть максимально расслаблена, с центром тяжести на пятке.'}
]
}
]
},

{'page':[
{'title': 'Фотографируйте самостоятельно, либо воспользуйтесь помощью друзей.',

'sliders':[
{'text': 'Приложение рассчитано на самостоятельную работу, без чьей-либо помощи.','src': {'src_smaller' :'3-1.png', 'src_smaller_retina' :'3-1.png', 'src_default' :'3-1.png', 'src_default_retina' :'3-1.png'}},
{'text': 'Чтобы было все ещё проще, пригласите ваших друзей или родственников помочь вам.','src': {'src_smaller' :'3-2.png', 'src_smaller_retina' :'3-2.png', 'src_default' :'3-2.png', 'src_default_retina' :'3-2.png'}}
],

'hints': [
{'title':'','text': '1. Если вы испытываете сложности с фотографированием, лучше сразу попросить кого-нибудь из близких, друзей или родственников помочь вам.'},
{'title':'','text': '2. В благодарность вы можете позже поменяться ролями и помочь с фотографией тому, кто помог вам..'}
]
},
{'title': 'Расположите колено ровно над пяткой.',

'sliders':[
{'text': 'Во время съемки контролируйте положение голени. Держите колено строго вертикально над пяткой.','src': {'src_smaller' :'3-4.png','src_smaller_retina' :'3-4.png', 'src_default' :'3-4.png', 'src_default_retina' :'3-4.png'}},
{'text': 'Неправильно: стопа не всей поверхностью прижата к полу, голень слишком наклонена.','src': {'src_smaller' :'3-6.png', 'src_smaller_retina' :'3-6.png', 'src_default' :'3-6.png', 'src_default_retina' :'3-6.png'}},
{'text': 'Неправильно: голень слишком поджата под себя (к ножкам стула).','src': {'src_smaller' :'3-7.png', 'src_smaller_retina' :'3-7.png', 'src_default' :'3-7.png', 'src_default_retina' :'3-7.png'}}
],

'hints': [
{'title':'','text': '1. Проведите мысленно прямую линию из колена в пятку (через голень). Линия должна быть чётко вертикальной.'},
{'title':''},{'text': '2. Стопа должна полностью опираться на пол и при этом быть максимально расслаблена, с центром тяжести на пятке.'}
]
},
{'title': 'Совместите контурную рамку и изображение листа А4.',

'sliders':[
{'text': 'Достаточно условно, без идеальной точности совместите прямоугольную рамку с изображением листа А4. При достижении правильного угла появится кнопка пуска камеры.','src': {'src_smaller' :'3-10.png', 'src_smaller_retina' :'3-10.png', 'src_default' :'3-10.png', 'src_default_retina' :'3-10.png'}},
{'text': 'Неправильно: телефон расположен слишком высоко, кнопка пуска камеры неактивна.','src': {'src_smaller' :'3-11.png', 'src_smaller_retina' :'3-11.png', 'src_default' :'3-11.png', 'src_default_retina' :'3-11.png'}}
],

'hints': [
{'title':'', 'text': '1. Нужно совмещать только прямоугольную контурную рамку и лист А4, изображение ноги совмещать не нужно- оно показано только для того, чтобы вы не перепутали какую ногу фотографировать.'},
{'title':'', 'text': '2. Совмещать контурную рамку на телефоне и изображение листа А4 нужно примерно, идеальная точность не нужна. Очень важно, чтобы были видны все 4 угла листа.'},
{'title':'', 'text': '3. Правильный угол наклона камеры к стопе - ориентировочно 45 градусов. Всякий раз, как вы будете отклонятся от правильного угла наклона смартфона, кнопка пуска камеры будет исчезать.'}
]
},
{'title': 'В каждом кадре должны быть видны все 4 угла листа.',

'sliders':[
{'text': 'На каждом фото должны быть четко видны все 4 угла листа А4. Держите телефон так, чтобы не закрывать голенью какой-либо угол.','src': {'src_smaller' :'3-13new.png', 'src_smaller_retina' :'3-13new.png', 'src_default' :'3-13new.png', 'src_default_retina' :'3-13new.png'}},
{'text': 'На каждом фото должны быть четко видны все 4 угла листа А4. Держите телефон так, чтобы не закрывать голенью какой-либо угол.','src': {'src_smaller' :'3-14new.png', 'src_smaller_retina' :'3-14new.png', 'src_default' :'3-14new.png', 'src_default_retina' :'3-14new.png'}},
{'text': 'На каждом фото должны быть четко видны все 4 угла листа А4. Держите телефон так, чтобы не закрывать голенью какой-либо угол.','src': {'src_smaller' :'3-15new.png', 'src_smaller_retina' :'3-15new.png', 'src_default' :'3-15new.png', 'src_default_retina' :'3-15new.png'}},
{'text': 'Неправильно: закрыт один из углов листа А4.','src': {'src_smaller' :'3-16.png','src_smaller_retina' :'3-16.png', 'src_default' :'3-16.png', 'src_default_retina' :'3-16.png'}}
],

'hints': [
{'title':'','text': '1. По мере повышения вашей опытности вы сможете все быстрее и точнее совмещать рамку и лист. Как только вы достигните приемлемого угла наклона камеры вашего смартфона, загорится кнопка пуска фотокамеры.'},
{'title':'','text': '2. Из-за влаги стопы часто листы бумаги деформируются и идут «волной», отстают от пола или у них загибаются углы. Если так происходит, используйте новый лист бумаги для фотографирования каждой из ног. Во время фотографирования одной ноги с разных ракурсов менять лист А4 нельзя. Очень важно, чтобы все 4 угла листа ровно прилегали к полу.'}
]
},
{'title': 'Когда нужно переснять фотографию.',

'sliders':[
{'text': 'Фото размытое? Не сфокусировалась камера? Переделайте.','src': {'src_smaller' :'3-18.png', 'src_smaller_retina' :'3-18.png', 'src_default' :'3-18.png', 'src_default_retina' :'3-18.png'}},
{'text': 'Держите телефон так, чтобы пальцы не перекрыли объектив или вспышку.','src': {'src_smaller' :'3-19.png', 'src_smaller_retina' :'3-19.png', 'src_default' :'3-19.png', 'src_default_retina' :'3-19.png'}},
{'text': 'Не шевелите ступней во время фотографирования, не передвигайте ногу на листе пока не завершите съемку ноги c 3-х сторон полностью.','src': {'src_smaller' :'3-20.png', 'src_smaller_retina' :'3-20.png', 'src_default' :'3-20.png', 'src_default_retina' :'3-20.png'}}
],

'hints': [
{'title':'','text': '1. Это практически незаметно, но пока вы держите телефон, пальцы могут частично закрыть объектив камеры или вспышки. Фотография получится темной или не резкой - переделайте фотографию.'},
{'title':'','text': '2. Держите телефон так, чтобы между объективом телефона и ступней не попадали посторонние предметы - рукав рубашки, другие элементы одежды.'}
]
}
]
}
]%}
{% spaceless %}
    {% if slider is defined %}
        {% for  key,sliderItem in slider%}
            <div class="{{ ns }}-slider" data-key="{{ key }}">

                {% for keySlide,sliderPage in sliderItem.page %}
                    <div class="{{ ns }}-slider-item" data-slide="{{ key + 1 }}.{{ keySlide}}">
                        <h2 class="{{ ns }}-slider-title">
                            <span class="{{ ns }}-slider-span">{{ keySlide + 1 }}</span>{{ sliderPage.title }}
                        </h2>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">

                                {% for key,slidersItem in sliderPage.sliders %}
                                    <div class="swiper-slide">
                                        <picture>
                                            <source srcset="images/faq/{{slidersItem.src.src_smaller}}, images/faq/{{slidersItem.src.src_smaller_retina}} 2x" media="(max-width: 768px)">
                                            <source srcset="images/faq/{{slidersItem.src.src_default}}, images/faq/{{slidersItem.src.src_default_retina}} 2x">
                                            <img class="{{ ns }}-slider-img" src="images/faq/{{slidersItem.src.src_smaller}}" width="100%" height="290" alt="foto">
                                        </picture>

                                        <p class="{{ ns }}-slider-text">{{ slidersItem.text }}</p>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        {% include ':default/blocks:_hints.html.twig' %}

                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{% endspaceless %}