{% set slider = [

{'page':[
{'title': 'Выберите светлое помещение.',

'titleText' : 'Выберите хорошо освещённое помещение с естественным или искусственным светом.',

'sliders':[
{'text': 'Выберите хорошо освещённое помещение с естественным или искусственным светом.','src': {'mobile' :'x1/1_1_1_mobile_x1.jpg','mobile2x' :'x2/1_1_1_mobile_x2.jpg', 'mobile3x' :'x3/1_1_1_mobile_x3.jpg', 'mobile4x' :'x4/1_1_1_mobile_x4.jpg','desktop' :'x1/1_1_1_desktop_x1.jpg', 'desktop2x' :'x2/1_1_1_desktop_x2.jpg', 'desktop3x' :'x3/1_1_1_desktop_x3.jpg'}},
{'text': 'Проследите, чтобы на пол не попадал сильный поток света, который может помешать съёмке.','wrong': 'yes' ,'src': {'mobile' :'x1/1_1_2_mobile_x1.jpg','mobile2x' :'x2/1_1_2_mobile_x2.jpg', 'mobile3x' :'x3/1_1_2_mobile_x3.jpg','mobile4x' :'x4/1_1_2_mobile_x4.jpg','desktop' :'x1/1_1_2_desktop_x1.jpg', 'desktop2x' :'x2/1_1_2_desktop_x2.jpg', 'desktop3x' :'x3/1_1_2_desktop_x3.jpg'}},
{'text': '"Пересвеченные" фотографии - это результат слишком яркого прямого света.', 'wrong': 'yes' ,'src': {'mobile' :'x1/1_1_3_mobile_x1.jpg','mobile2x' :'x2/1_1_3_mobile_x2.jpg', 'mobile3x' :'x3/1_1_3_mobile_x3.jpg','mobile4x' :'x4/1_1_3_mobile_x4.jpg', 'desktop' :'x1/1_1_3_desktop_x1.jpg', 'desktop2x' :'x2/1_1_3_desktop_x2.jpg', 'desktop3x' :'x3/1_1_3_desktop_x3.jpg'}},
{'text': 'При нехватке освещения фотографии получатся нечёткими или с сильными тенями вокруг стопы.', 'wrong': 'yes' ,'src': {'mobile' :'x1/1_1_4_mobile_x1.jpg','mobile2x' :'x2/1_1_4_mobile_x2.jpg', 'mobile3x' :'x3/1_1_4_mobile_x3.jpg','mobile4x' :'x4/1_1_4_mobile_x4.jpg','desktop' :'x1/1_1_4_desktop_x1.jpg','desktop2x' :'x2/1_1_4_desktop_x2.jpg', 'desktop3x' :'x3/1_1_4_desktop_x3.jpg'}}
],

'hints': [
{'text': '1. Не фотографируйте непосредственно около или напротив окна. Солнце не должно «бить» в объектив телефона - переместитесь немного вглубь комнаты, если нужно слегка прикройте шторы/жалюзи/тюль.'},
{'text': '2. Не фотографируйте на полу в месте ярких солнечных бликов - переместитесь в сторону от этого места.'},
{'text': '3. При нехватке освещения фотографии получатся нечёткими или с сильными тенями вокруг стопы. Выберите более светлое время дня или используйте другую комнату / помещение.'}
]
},
{'title': 'Подготовьте место, чтобы удобно сесть.',

'titleText' : 'Выберите стул или кресло и 3-6 чистых листов офисной бумаги формата А4 (210 х 297 мм).',

'sliders':[
{'text': 'Выберите стул или кресло и 3-6 чистых листов офисной бумаги формата А4 (210 х 297 мм).','src': {'mobile' :'x1/1_2_1_mobile_x1.jpg','mobile2x' :'x2/1_2_1_mobile_x2.jpg', 'mobile3x' :'x3/1_2_1_mobile_x3.jpg','mobile4x' :'x4/1_2_1_mobile_x4.jpg','desktop' :'x1/1_2_1_desktop_x1.jpg', 'desktop2x' :'x2/1_2_1_desktop_x2.jpg', 'desktop3x' :'x3/1_2_1_desktop_x3.jpg'}},
{'text': 'Пол должен быть ровный, без коврового покрытия, иначе бумажный лист А4, который Вы будете использовать, деформируется.','wrong': 'yes','src': {'mobile' :'x1/1_2_2_mobile_x1.jpg','mobile2x' :'x2/1_2_2_mobile_x2.jpg', 'mobile3x' :'x3/1_2_2_mobile_x3.jpg','mobile4x' :'x4/1_2_2_mobile_x4.jpg','desktop' :'x1/1_2_2_desktop_x1.jpg', 'desktop2x' :'x2/1_2_2_desktop_x2.jpg', 'desktop3x' :'x3/1_2_2_desktop_x3.jpg'}},
{'text': 'Проследите, чтобы листы были новыми, углы листов не должны загибаться.', 'wrong': 'yes', 'src': {'mobile' :'x1/1_2_3_mobile_x1.jpg','mobile2x' :'x2/1_2_3_mobile_x2.jpg', 'mobile3x' :'x3/1_2_3_mobile_x3.jpg','mobile4x' :'x4/1_2_3_mobile_x4.jpg','desktop' :'x1/1_2_3_desktop_x1.jpg', 'desktop2x' :'x2/1_2_3_desktop_x2.jpg', 'desktop3x' :'x3/1_2_3_desktop_x3.jpg'}}
],

'hints': [
{'text': '1. Высота стула должна быть такой, чтобы сев на него, Вы могли расположить колени вертикально над пятками.'},
{'text': '2. Цвет пола должен отличаться от цвета ноги, иначе ступня на фотографии сольётся с полом.'},
{'text': '3. В процессе фотографирования из-за влаги стопы лист бумаги может деформироваться, отставать от пола или у него загибаются углы.  Если так происходит, рекомендуем  вам менять лист бумаги при переходе от фотографирования одной ноги к другой.'},
{'text': '4. Старайтесь не фотографировать ноги в конце рабочего дня, когда ноги устают и отекают - это может исказить ваши данные.'}
]
}
]
},

{'page':[
{'title': 'Разуйтесь, снимите носки и закатайте брюки.',

'titleText' : 'Закатайте, пожалуйста, брюки желательно до колена, подберите свисающее платье или иную одежду с голени.',

'sliders':[
{'text': 'Закатайте, пожалуйста, брюки желательно до колена, подберите свисающее платье или иную одежду с голени.','src': {'mobile' :'x1/2_1_1_mobile_x1.jpg','mobile2x' :'x2/2_1_1_mobile_x2.jpg', 'mobile3x' :'x3/2_1_1_mobile_x3.jpg','mobile4x' :'x4/2_1_1_mobile_x4.jpg', 'desktop' :'x1/2_1_1_desktop_x1.jpg', 'desktop2x' :'x2/2_1_1_desktop_x2.jpg', 'desktop3x' :'x3/2_1_1_desktop_x3.jpg'}},
{'text': 'Снимите с ног обувь, носки, чулки или колготки любого (в т.ч. телесного) цвета.', 'wrong': 'yes', 'src': {'mobile' :'x1/2_1_2_mobile_x1.jpg','mobile2x' :'x2/2_1_2_mobile_x2.jpg', 'mobile3x' :'x3/2_1_2_mobile_x3.jpg','mobile4x' :'x4/2_1_2_mobile_x4.jpg','desktop' :'x1/2_1_2_desktop_x1.jpg', 'desktop2x' :'x2/2_1_2_desktop_x2.jpg', 'desktop3x' :'x3/2_1_1_desktop_x3.jpg'}},
{'text': 'Обратите внимание, чтобы какие-либо элементы одежды не закрывали стопу и пятку.', 'wrong': 'yes', 'src': {'mobile' :'x1/2_1_3_mobile_x1.jpg','mobile2x' :'x2/2_1_3_mobile_x2.jpg', 'mobile3x' :'x3/2_1_3_mobile_x3.jpg','mobile4x' :'x4/2_1_3_mobile_x4.jpg','desktop' :'x1/2_1_3_desktop_x1.jpg', 'desktop2x' :'x2/2_1_3_desktop_x2.jpg', 'desktop3x' :'x3/2_1_1_desktop_x3.jpg'}},
{'text': 'Не используйте лак для ногтей контрастного цвета.', 'wrong': 'yes', 'src': {'mobile' :'x1/2_1_4_mobile_x1.jpg','mobile2x' :'x2/2_1_4_mobile_x2.jpg', 'mobile3x' :'x3/2_1_4_mobile_x3.jpg','mobile4x' :'x4/2_1_4_mobile_x4.jpg', 'desktop' :'x1/2_1_4_desktop_x1.jpg', 'desktop2x' :'x2/2_1_4_desktop_x2.jpg', 'desktop3x' :'x3/2_1_1_desktop_x3.jpg'}}
],

'hints': [
{'text': 'В ряде случаев лак для ногтей контрастного цвета может вызывать ошибки в создании 3D модели. Отсутствие лака либо бесцветный лак - гарантированно хороший результат.'}
]
},
{'title': 'Сядьте на стул и расположите ступню на листе А4.',

'titleText' : 'Поставьте ступню так, чтобы примерно 2/3 были на листе, а пятка - на полу.',

'sliders':[
{'text': 'Поставьте ступню так, чтобы примерно 2/3 были на листе, а пятка - на полу.','src': {'mobile' :'x1/2_2_1_mobile_x1.jpg','mobile2x' :'x2/2_2_1_mobile_x2.jpg', 'mobile3x' :'x3/2_2_1_mobile_x3.jpg','mobile4x' :'x4/2_2_1_mobile_x4.jpg', 'desktop' :'x1/2_2_1_desktop_x1.jpg', 'desktop2x' :'x2/2_2_1_desktop_x2.jpg', 'desktop3x' :'x3/2_2_1_desktop_x3.jpg'}},
{'text': 'Ступня должна быть по центру, параллельно бокам листа, т.е. нога “смотрит” строго вперед, вдоль центральной оси листа.', 'wrong': 'yes', 'src': {'mobile' :'x1/2_2_2_mobile_x1.jpg','mobile2x' :'x2/2_2_2_mobile_x2.jpg', 'mobile3x' :'x3/2_2_2_mobile_x3.jpg','mobile4x' :'x4/2_2_2_mobile_x4.jpg','desktop' :'x1/2_2_2_desktop_x1.jpg', 'desktop2x' :'x2/2_2_2_desktop_x2.jpg', 'desktop3x' :'x3/2_2_2_desktop_x3.jpg'}},
{'text': 'Лист А4 должен располагаться  широкой стороной перед вами. Пятка должна располагаться на полу, а не на листе.', 'wrong': 'yes', 'src': {'mobile' :'x1/2_2_3_mobile_x1.jpg','mobile2x' :'x2/2_2_3_mobile_x2.jpg', 'mobile3x' :'x3/2_2_3_mobile_x3.jpg','mobile4x' :'x4/2_2_3_mobile_x4.jpg','desktop' :'x1/2_2_3_desktop_x1.jpg', 'desktop2x' :'x2/2_2_3_desktop_x2.jpg', 'desktop3x' :'x3/2_2_3_desktop_x3.jpg'}}
],

'hints': [
{'text': 'Поставив ногу один раз на лист, не передвигайте её во время всего цикла фотографирования. Если всё же такое произошло - начните всё заново.'}
]
},
{'title': 'Углы листа А4 ровно прилегают к полу.',

'titleText' : 'Лист должен  прилегать к полу, углы не должны приподниматься.',

'sliders':[
{'text': 'Лист должен  прилегать к полу, углы не должны приподниматься.','src': {'mobile' :'x1/2_4_1_mobile_x1.jpg','mobile2x' :'x2/2_4_1_mobile_x2.jpg', 'mobile3x' :'x3/2_4_1_mobile_x3.jpg','mobile4x' :'x4/2_4_1_mobile_x4.jpg', 'desktop' :'x1/2_4_1_desktop_x1.jpg', 'desktop2x' :'x2/2_4_1_desktop_x2.jpg', 'desktop3x' :'x3/2_4_1_desktop_x3.jpg'}},
{'text': 'Если углы приподнимаются, можно их немного загнуть в противоположную сторону либо перевернуть лист обратной стороной.', 'wrong': 'yes', 'src': {'mobile' :'x1/2_4_2_mobile_x1.jpg','mobile2x' :'x2/2_4_2_mobile_x2.jpg', 'mobile3x' :'x3/2_4_2_mobile_x3.jpg','mobile4x' :'x4/2_4_2_mobile_x4.jpg', 'desktop' :'x1/2_4_2_desktop_x1.jpg', 'desktop2x' :'x2/2_4_2_desktop_x2.jpg', 'desktop3x' :'x3/2_4_2_desktop_x3.jpg'}},
{'text': 'Если лист идёт "волной", смените лист на новый.', 'wrong': 'yes', 'src': {'mobile' :'x1/2_4_3_mobile_x1.jpg','mobile2x' :'x2/2_4_3_mobile_x2.jpg', 'mobile3x' :'x3/2_4_3_mobile_x3.jpg','mobile4x' :'x4/2_4_3_mobile_x4.jpg', 'desktop':'x1/2_4_3_desktop_x1.jpg', 'desktop2x' :'x2/2_4_3_desktop_x2.jpg', 'desktop3x' :'x3/2_4_3_desktop_x3.jpg'}}
],

'hints': [
{'text': '1. Листы бумаги должны быть чистыми, ровными, без явных складок, углы листов не должны загибаться.'},
{'text': '2. Из-за влаги стопы листы бумаги могут деформироваться, отставать от пола или у них загибаются углы. Если так происходит, рекомендуем вам менять лист бумаги при переходе от фотографирования одной ноги к другой.'},
{'text': '3. Очень важно, чтобы все 4 угла листа ровно прилегали к полу.'}
]
},

{'title': 'Соберите/сомкните рукой пальцы ноги вместе.',

'titleText' : 'Слегка соберите/сомкните рукой пальцы ноги вместе, чтобы расстояние между пальцами было минимальным.',

'sliders':[
{'text': 'Слегка соберите/сомкните рукой пальцы ноги вместе, чтобы расстояние между пальцами было минимальным.', 'src': {'mobile' :'x1/2_3_1_mobile_x1.jpg','mobile2x' :'x2/2_3_1_mobile_x2.jpg', 'mobile3x' :'x3/2_3_1_mobile_x3.jpg','mobile4x' :'x4/2_3_1_mobile_x4.jpg','desktop' :'x1/2_3_1_desktop_x1.jpg', 'desktop2x' :'x2/2_3_1_desktop_x2.jpg', 'desktop3x' :'x3/2_3_1_desktop_x3.jpg'}},
{'text': 'Неправильно: Пальцы разведены очень широко.', 'wrong': 'yes', 'src': {'mobile' :'x1/2_3_2_mobile_x1.jpg','mobile2x' :'x2/2_3_2_mobile_x2.jpg', 'mobile3x' :'x3/2_3_2_mobile_x3.jpg','mobile4x' :'x4/2_3_2_mobile_x4.jpg','desktop' :'x1/2_3_2_desktop_x1.jpg', 'desktop2x' :'x2/2_3_2_desktop_x2.jpg', 'desktop3x' :'x3/2_3_2_desktop_x3.jpg'}},
{'text': 'Обратите внимание, что при этом пальцы ноги не должны поджиматься по длине - это может исказить длину вашей ноги.', 'wrong': 'yes', 'src': {'mobile' :'x1/2_3_3_mobile_x1.jpg','mobile2x' :'x2/2_3_3_mobile_x2.jpg', 'mobile3x' :'x3/2_3_3_mobile_x3.jpg','mobile4x' :'x4/2_3_3_mobile_x4.jpg', 'desktop' :'x1/2_3_3_desktop_x1.jpg', 'desktop2x' :'x2/2_3_3_desktop_x2.jpg', 'desktop3x' :'x3/2_3_3_desktop_x3.jpg'}}
],

'hints': [
{'text': '1. Чтобы собрать/сомкнуть пальцы ноги вместе, лучше помочь рукой/руками.Не прикладывайте особо больших усилий - расстояние между пальцами должно быть минимальным, но при этом положение пальцев должно оставаться естественным.'},
{'text': '2. Стопа должна полностью опираться на пол и при этом быть максимально расслаблена, с центром тяжести на пятке.'}
]
}
]
},

{'page':[
{'title': 'Расположите колено ровно над пяткой.',

'titleText' : 'Во время съемки старайтесь держать колено вертикально над пяткой. Стопа должна всей поверхностью опираться на пол.<br><br><br><br><br><br><br><br><br>Чтобы фотографирование было проще и быстрее, пригласите ваших друзей или родственников помочь вам.',

'sliders':[
{'text': 'Во время съемки старайтесь держать колено вертикально над пяткой. Стопа должна всей поверхностью опираться на пол.','src': {'mobile' :'x1/3_1_1_mobile_x1.jpg','mobile2x' :'x2/3_1_1_mobile_x2.jpg', 'mobile3x' :'x3/3_1_1_mobile_x3.jpg','mobile4x' :'x4/3_1_1_mobile_x4.jpg', 'desktop' :'x1/3_1_1_desktop_x1.jpg', 'desktop2x' :'x2/3_1_1_desktop_x2.jpg', 'desktop3x' :'x3/3_1_1_desktop_x3.jpg'}},
{'text': 'Колено слишко отведено в сторону, стопа не прижата к полу.', 'wrong': 'yes', 'src': {'mobile' :'x1/3_1_2_mobile_x1.jpg','mobile2x' :'x2/3_1_2_mobile_x2.jpg', 'mobile3x' :'x3/3_1_2_mobile_x3.jpg','mobile4x' :'x4/3_1_2_mobile_x4.jpg', 'desktop' :'x1/3_1_2_desktop_x1.jpg', 'desktop2x' :'x2/3_1_2_desktop_x2.jpg', 'desktop3x' :'x3/3_1_2_desktop_x3.jpg'}},
{'text': 'Стопа слишком поджата под себя (к ножкам стула).', 'wrong': 'yes', 'src': {'mobile' :'x1/3_1_3_mobile_x1.jpg','mobile2x' :'x2/3_1_3_mobile_x2.jpg', 'mobile3x' :'x3/3_1_3_mobile_x3.jpg','mobile4x' :'x4/3_1_3_mobile_x4.jpg', 'desktop' :'x1/3_1_3_desktop_x1.jpg', 'desktop2x' :'x2/3_1_3_desktop_x2.jpg', 'desktop3x' :'x3/3_1_3_desktop_x3.jpg'}},
{'text': 'Стопа слишком вытянута вперед (далеко от ножки стула).', 'wrong': 'yes', 'src': {'mobile' :'x1/3_1_4_mobile_x1.jpg','mobile2x' :'x2/3_1_4_mobile_x2.jpg', 'mobile3x' :'x3/3_1_4_mobile_x3.jpg','mobile4x' :'x4/3_1_4_mobile_x4.jpg', 'desktop' :'x1/3_1_4_desktop_x1.jpg', 'desktop2x' :'x2/3_1_4_desktop_x2.jpg', 'desktop3x' :'x3/3_1_4_desktop_x3.jpg'}}
],

'hints': [
{'text': '1. Проведите мысленно прямую линию из колена в пятку (через голень). Линия должна быть чётко вертикальной.'},
{'text': '2. Стопа должна полностью опираться на пол и при этом быть максимально расслаблена, с центром тяжести на пятке.'},
{'text': '3. Чтобы фотографирование было проще и быстрее, пригласите ваших друзей или родственников помочь вам.'}
]
},
{'title': 'Совместите контурную рамку и изображение листа А4.',

'titleText' : 'Выберите правильный угол наклона камеры (примерно 45 град. в сторону стопы), чтобы появился значок пуска камеры.<br><br><br>Далее  достаточно аккуратно, но без идеальной точности совместите прямоугольную рамку с изображением листа А4 и сделайте фотографию.<br><br><br><br><br>Чтобы фотографирование было проще и быстрее, пригласите ваших друзей или родственников помочь вам.',

'sliders':[
{'text': 'Выберите правильный угол наклона камеры (примерно 45 град. в сторону стопы), чтобы появился значок пуска камеры.<br><br>Далее  достаточно аккуратно, но без идеальной точности совместите прямоугольную рамку с изображением листа А4 и сделайте фотографию.','src': {'mobile' :'x1/3_2_1_mobile_x1.jpg','mobile2x' :'x2/3_2_1_mobile_x2.jpg', 'mobile3x' :'x3/3_2_1_mobile_x3.jpg','mobile4x' :'x4/3_2_1_mobile_x4.jpg', 'desktop' :'x1/3_2_1_desktop_x1.jpg', 'desktop2x' :'x2/3_2_1_desktop_x2.jpg', 'desktop3x' :'x3/3_2_1_desktop_x3.jpg'}},
{'text': 'Телефон расположен слишком высоко. Угол наклона неправильный и поэтому кнопка пуска камеры неактивна.', 'wrong': 'yes', 'src': {'mobile' :'x1/3_2_2_mobile_x1.jpg','mobile2x' :'x2/3_2_2_mobile_x2.jpg', 'mobile3x' :'x3/3_2_2_mobile_x3.jpg','mobile4x' :'x4/3_2_2_mobile_x4.jpg', 'desktop' :'x1/3_2_2_desktop_x1.jpg', 'desktop2x' :'x2/3_2_2_desktop_x2.jpg', 'desktop3x' :'x3/3_2_2_desktop_x3.jpg'}},
{'text': 'Телефон расположен слишком низко. Угол наклона неправильный и поэтому кнопка пуска камеры неактивна. Подъём стопы закрыл один из углов листа А4.', 'wrong': 'yes', 'src': {'mobile' :'x1/3_2_3_mobile_x1.jpg','mobile2x' :'x2/3_2_3_mobile_x2.jpg', 'mobile3x' :'x3/3_2_3_mobile_x3.jpg','mobile4x' :'x4/3_2_3_mobile_x4.jpg', 'desktop' :'x1/3_2_3_desktop_x1.jpg', 'desktop2x' :'x2/3_2_3_desktop_x2.jpg', 'desktop3x' :'x3/3_2_3_desktop_x3.jpg'}},
{'text': 'Камера телефона наклонена в противоположном направлении. Направьте камеру "на себя", чтобы "контурная" и обычная нога смотрели в одну сторону.', 'wrong': 'yes', 'src': {'mobile' :'x1/3_2_4_mobile_x1.jpg','mobile2x' :'x2/3_2_4_mobile_x2.jpg', 'mobile3x' :'x3/3_2_4_mobile_x3.jpg','mobile4x' :'x4/3_2_4_mobile_x4.jpg', 'desktop' :'x1/3_2_4_desktop_x1.jpg', 'desktop2x' :'x2/3_2_4_desktop_x2.jpg', 'desktop3x' :'x3/3_2_4_desktop_x3.jpg'}}
],

'hints': [
{'text': '1. Чтобы фотографирование было проще и быстрее, пригласите ваших друзей или родственников помочь вам. Обычно 2-4 "проб" достаточно, чтобы самостоятельно научиться фотографировать в Imiscan.'},
{'text': '2. Чтобы получилось быстрее, сначала найдите правильный угол наклона камеры, так чтобы загорелся значок пуска камеры, только после этого, приближая и удаляя телефон от ноги, совместите контурную рамку и лист А4.'},
{'text': '3. Правильный угол наклона камеры к стопе - ориентировочно 45 градусов. Всякий раз, как Вы будете отклонятся от правильного угла наклона смартфона, кнопка пуска камеры будет исчезать.'},
{'text': '4. Совмещать контурную рамку на телефоне и изображение листа А4 нужно примерно, идеальная точность не нужна. Очень важно, чтобы были видны все 4 угла листа.'},
{'text': '5. Нужно совмещать только прямоугольную контурную рамку и лист А4, изображение ноги совмещать не нужно- оно показано только для того, чтобы Вы не перепутали какую ногу фотографировать и направление ноги.'}
]
},
{'title': 'В каждом кадре должны быть видны все 4 угла листа.',

'titleText' : 'На каждом фото должны быть четко видны все 4 угла листа А4. Держите телефон так, чтобы не закрывать голенью какой-либо угол.<br><br><br><br><br><br><br><br>Чтобы фотографирование было проще и быстрее, пригласите ваших друзей или родственников помочь вам.',

'sliders':[
{'text': 'На каждом фото должны быть четко видны все 4 угла листа А4. Держите телефон так, чтобы не закрывать голенью какой-либо угол.','src': {'mobile' :'x1/3_3_1_mobile_x1.jpg','mobile2x' :'x2/3_3_1_mobile_x2.jpg', 'mobile3x' :'x3/3_3_1_mobile_x3.jpg','mobile4x' :'x4/3_3_1_mobile_x4.jpg', 'desktop' :'x1/3_3_1_desktop_x1.jpg', 'desktop2x' :'x2/3_3_1_desktop_x2.jpg', 'desktop3x' :'x3/3_3_1_desktop_x3.jpg'}},
{'text': 'На каждом фото должны быть четко видны все 4 угла листа А4. Держите телефон так, чтобы не закрывать голенью какой-либо угол.','src': {'mobile' :'x1/3_3_2_mobile_x1.jpg','mobile2x' :'x2/3_3_2_mobile_x2.jpg', 'mobile3x' :'x3/3_3_2_mobile_x3.jpg','mobile4x' :'x4/3_3_2_mobile_x4.jpg', 'desktop' :'x1/3_3_2_desktop_x1.jpg', 'desktop2x' :'x2/3_3_2_desktop_x2.jpg', 'desktop3x' :'x3/3_3_2_desktop_x3.jpg'}},
{'text': 'На каждом фото должны быть четко видны все 4 угла листа А4. Держите телефон так, чтобы не закрывать голенью какой-либо угол.','src': {'mobile' :'x1/3_3_3_mobile_x1.jpg','mobile2x' :'x2/3_3_3_mobile_x2.jpg', 'mobile3x' :'x3/3_3_3_mobile_x3.jpg','mobile4x' :'x4/3_3_3_mobile_x4.jpg', 'desktop' :'x1/3_3_3_desktop_x1.jpg', 'desktop2x' :'x2/3_3_3_desktop_x2.jpg', 'desktop3x' :'x3/3_3_3_desktop_x3.jpg'}},
{'text': 'Закрыт один из углов листа А4.', 'wrong': 'yes', 'src': {'mobile' :'x1/3_3_4_mobile_x1.jpg','mobile2x' :'x2/3_3_4_mobile_x2.jpg', 'mobile3x' :'x3/3_3_4_mobile_x3.jpg','mobile4x' :'x4/3_3_4_mobile_x4.jpg', 'desktop' :'x1/3_3_4_desktop_x1.jpg', 'desktop2x' :'x2/3_3_4_desktop_x2.jpg', 'desktop3x' :'x3/3_3_4_desktop_x3.jpg'}}
],

'hints': [
{'text': '1. По мере повышения вашей опытности Вы сможете все быстрее и точнее совмещать рамку и лист. Как только Вы достигнете приемлемого угла наклона камеры вашего смартфона, загорится кнопка пуска фотокамеры.'},
{'text': '2. Из-за влаги стопы часто листы бумаги деформируются и идут «волной», отстают от пола или у них загибаются углы. Если так происходит, используйте новый лист бумаги для фотографирования каждой из ног. Во время фотографирования одной ноги с разных ракурсов менять лист А4 нельзя. Очень важно, чтобы все 4 угла листа ровно прилегали к полу.'}
]
},
{'title': 'Когда нужно переснять фотографию.',

'titleText' : '',

'sliders':[
{'text': 'Фото размытое? Не сфокусировалась камера? Переделайте.','wrong': 'yes' ,'src': {'mobile' :'x1/3_4_1_mobile_x1.jpg','mobile2x' :'x2/3_4_1_mobile_x2.jpg', 'mobile3x' :'x3/3_4_1_mobile_x3.jpg','mobile4x' :'x4/3_4_1_mobile_x4.jpg', 'desktop' :'x1/3_4_1_desktop_x1.jpg', 'desktop2x' :'x2/3_4_1_desktop_x2.jpg', 'desktop3x' :'x3/3_4_1_desktop_x3.jpg'}},
{'text': 'Держите телефон так, чтобы пальцы не перекрыли объектив или вспышку.','wrong': 'yes' ,'src': {'mobile' :'x1/3_4_2_mobile_x1.jpg','mobile2x' :'x2/3_4_2_mobile_x2.jpg', 'mobile3x' :'x3/3_4_2_mobile_x3.jpg','mobile4x' :'x4/3_4_2_mobile_x4.jpg', 'desktop' :'x1/3_4_2_desktop_x1.jpg', 'desktop2x' :'x2/3_4_2_desktop_x2.jpg', 'desktop3x' :'x3/3_4_2_desktop_x3.jpg'}},
{'text': 'Не шевелите ступней во время фотографирования, не передвигайте ногу на листе, пока не завершите съемку ноги c 3-х сторон полностью.','wrong': 'yes' ,'src': {'mobile' :'x1/3_4_3_mobile_x1.jpg','mobile2x' :'x2/3_4_3_mobile_x2.jpg', 'mobile3x' :'x3/3_4_3_mobile_x3.jpg','mobile4x' :'x4/3_4_3_mobile_x4.jpg', 'desktop' :'x1/3_4_3_desktop_x1.jpg', 'desktop2x' :'x2/3_4_3_desktop_x2.jpg', 'desktop3x' :'x3/3_4_3_desktop_x3.jpg'}}
],

'hints': [
{'text': '1. Это практически незаметно, но пока Вы держите телефон, пальцы могут частично закрыть объектив камеры или вспышки. Фотография получится темной или не резкой - переделайте фотографию.'},
{'text': '2. Держите телефон так, чтобы между объективом телефона и ступней не попадали посторонние предметы - рукав рубашки, другие элементы одежды.'},
{'text': '3. По ходу работы приложения по разным причинам (камера была «ослеплена» прямым солнечным светом, плохая связь с интернетом итд.) могут возникнуть сбои и 3D модель может быть создана с ошибкой. В случае если хоть одна из моделей (правая или левая нога) визуально не соответствует действительности, удалите это измерение и сделайте новое.'}
]
}
]
}
] %}
{% spaceless %}
    {% if slider is defined %}
        {% for  key,sliderItem in slider %}
            <div class="{{ ns }}-slider" data-key="{{ key }}">

                {% for keySlide,sliderPage in sliderItem.page %}
                    <div class="{{ ns }}-slider-item" data-slide="{{ key + 1 }}.{{ keySlide + 1 }}">

                        <div class="{{ ns }}-slider-title-wrapper">
                            <h2 class="{{ ns }}-slider-title">
                                <span class="{{ ns }}-slider-span">{{ keySlide + 1 }}</span>
                                {% if sliderPage.title is defined %}
                                    {{ sliderPage.title | trans}}
                                {% endif %}
                            </h2>
                            {% if sliderPage.title is defined %}
                                <p class="{{ ns }}-slider-title-text">{{ sliderPage.titleText | trans | raw }}</p>
                            {% endif %}
                        </div>

                        <div class="swiper-container">
                            <div class="swiper-wrapper clearfix">
                                <div class="{{ ns }}-swiper-slide_big">

                                    {% if sliderPage.sliders[0].src is defined %}
                                        <picture class="{{ ns }}-slider-picture_big">
                                            <source srcset="images/faq/mobile/{{ sliderPage.sliders[0].src.mobile }}, images/faq/mobile/{{ sliderPage.sliders[0].src.mobile2x }} 2x, images/faq/mobile/{{ sliderPage.sliders[0].src.mobile3x }} 3x, images/faq/mobile/{{ sliderPage.sliders[0].src.mobile4x }} 4x"
                                                    media="(max-width: 768px)">
                                            <source srcset="images/faq/desktop/{{ sliderPage.sliders[0].src.desktop }}, images/faq/desktop/{{ sliderPage.sliders[0].src.desktop2x }} 2x, images/faq/desktop/{{ sliderPage.sliders[0].src.desktop3x }} 3x">
                                            <img class="{{ ns }}-slider-img_big {% if sliderPage.sliders[0].wrong is defined %} {{ ns }}-slider-img_big_wrong{% endif %}"
                                                 src="images/faq/desktop/{{ sliderPage.sliders[0].src.desktop2x }}"
                                                 alt="foto">
                                        </picture>

                                    {% endif %}

                                    <p class="{{ ns }}-slider-text_big">{{ sliderPage.sliders[0].text | trans | raw  }}</p>
                                </div>

                                {% for key,slidersItem in sliderPage.sliders %}
                                    <div class="swiper-slide">

                                        {% if slidersItem.src is defined %}
                                            <picture class="{{ ns }}-slider-picture">
                                                <source srcset="images/faq/mobile/{{ slidersItem.src.mobile }}, images/faq/mobile/{{ slidersItem.src.mobile2x }} 2x, images/faq/mobile/{{ slidersItem.src.mobile3x }} 3x, images/faq/mobile/{{ slidersItem.src.mobile4x }} 4x"
                                                        media="(max-width: 768px)">
                                                <source srcset="images/faq/desktop/{{ slidersItem.src.desktop }}, images/faq/desktop/{{ slidersItem.src.desktop2x }} 2x, images/faq/desktop/{{ slidersItem.src.desktop3x }} 3x">
                                                <img class="{{ ns }}-slider-img"
                                                     src="images/faq/desktop/{{ slidersItem.src.desktop2x }}"
                                                     data-wrong="{{ slidersItem.wrong }}" alt="foto"
                                                     data-img="{{ key + 1 }}">
                                            </picture>
                                        {% endif %}

                                        <p class="{{ ns }}-slider-text {{ ns }}-slider-text_small">{{ slidersItem.text | trans | raw  }}</p>
                                    </div>
                                {% endfor %}
                                <div class="{{ ns }}-hints-btn_big">{{ "Советы и подсказки"| trans }}:<span
                                            class="{{ ns }}-hints-arrow"></span>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        {% include ':default/blocks:_hints.html.twig' %}

                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{% endspaceless %}